.token-display {
  text-align: center; }
  .token-display .number {
    font-size: 3em; }
  .token-display .timer {
    width: 50%;
    height: 0;
    padding-top: 50%;
    margin: 20px auto;
    position: relative; }
    .token-display .timer > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
