<ion-view view-title="Moule Authenticator">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Token</span>
        <input type="text" id="key" name="key" ng-model="settings.key"/>
      </label>
      <div class="padding">
        <button id="timer" onclick="$('#timer').timer()" class="button button-block button-positive" ng-click="getToken(settings)">Submit</button>
      </div>
      <div style="text-align:center;margin-top:100px;">
        <h1>{{ token }}</h1>
        <p id="demo" style="height: 150px;"></p>
      </div>
    </div>
  </ion-content>
</ion-view>